/* CSS file for week 6 class example */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~



                  MY WORK BELOW 



~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


html {
    font-size: 22px;
    /* 
    Set a default font-family for the whole page:
        ALWAYS PROVIDE A FALLBACK LIST! 
        End with a generic font type (like sans-serif) 
    */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: rgb(207, 173, 129);
}

h1 {
    color: cornsilk;
}

/* use a CLASS to target an element with a "." */

.sizing{
    /* border is a shorthand that requires three properties: size, colour and type */
    border: 5px rgb(218, 179, 218) solid; 

    /* 
    using PX is a "hard-coded" value - the element will always be this size! 
        width: 200px;
        height: 200px;
        color: aliceblue; 
    */ 

    width: 50%;
    height: 50%;

    font-size: 10px;
    color: crimson;
}

.using-rem {
    /* 
    REM is based in the default font-size for the site (or the body tag)
        Usually this is set to 16px by your browser 
        R = root (font size)
        EM = responds to element parent
    */
    font-size: 2rem;
    color: brown;
}

.using-em {
    /* 
    EM is based on the font size of the element's PARENT
        in this case, the parent of this span is the DIV w the CLASS ".sizing"
    */
    font-size: 2em;
    color: chocolate;
}

.using-viewport {
    /* 
    vw (viewport width) and vh (viewport height) respond to the size of the browser window 
    */ 
    background-color: rgb(182, 182, 235);
    width: 40vw;
    height: 40vh;
}

.using-percent {
    /* 
    percent responds to the element's parent
    in this case - the element w the class . using-viewport
    note... HEIGHT CANNOT be set using a % - it needs a SPECIFIC value
    */ 
    background-color: azure;
    width: 30vw;
    height: 30vh;

    /* 
    CSS Typography Options: 
    */

    font-size: 16px; /* you can set the font size using any unit of measurement 
    - usually set with px, em, rem  */ 

    line-height: 1.3em; /* line height is often set using em, so its relative to the size of the font */

    font-weight: bold; /* font weight is how thick the font is */

    font-style: italic; /* font style adds things like italics */ 

    letter-spacing: 0.1em; /* set the kerning (space btwn letters) */

    text-decoration: underline; /* if you want to tremove the underline from links, set it to none */

    list-style: none; /* this removes bullets from a list (but is already in the CSS reset) */
}
